<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzit.dao.BalanceDao">

    <select id="findBalanceByUserid" parameterType="java.lang.Integer"
            resultType="com.hzit.entity.Balance">
        select * from balance where userId=#{userId}
    </select>

    <update id="addMoney" parameterType="double">
        update balance set money=#{money}+#{payMoney} where userId=#{userId}
    </update>

    <update id="subMoney" parameterType="double">
        update balance set money=#{money}-#{payMoney} where userId=#{userId}
    </update>

    <insert id="insert" parameterType="com.hzit.entity.Balance" >
        insert into balance values(null,#{userId},#{money},#{payPwd})
    </insert>

    <update id="updatePwd" parameterType="String">
        update balance set payPwd=#{payPwd} where userId=#{userId}
    </update>
</mapper>
