<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzit.dao.ComplainInfoDao">
    <select id="findAll" resultType="ComplainInfo">
        SELECT * FROM complain
    </select>
    <select id="findAnnouncementById" parameterType="java.lang.Integer" resultType="ComplainInfo">
        SELECT * FROM complain WHERE AnnouncementId=#{announcementId}
    </select>
    <insert id="insertAnnouncement" parameterType="ComplainInfo">
        INSERT INTO complain VALUES (#{announcementId},#{announcementContent},#{announcementName})
    </insert>
    <delete id="deleteAnnouncement" parameterType="String">
        DELETE FROM complain WHERE AnnouncementId=#{announcementId}
    </delete>

</mapper>
