<?xml version="1.0" encoding="UTF-8" ?>
<!--mapper标签用于指定配置文件所属的接口名，通过namespace来指定  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzit.dao.GameGoodInfoDao">
    <!--select标签用于指定查询方法，
                               其中id属性代表方法名 ，
             parameterType代表方法参数指定类型，
             resultType代表方法返回集合中元素的类型
    -->

    <select id="findAllGood"  resultType="com.hzit.entity.GamegoodInfo">
        select * from gamegood
    </select>
    <select id="findOneGood" parameterType="java.lang.Integer" resultType="com.hzit.entity.GamegoodInfo">
        select * from gamegood where gamegoodid=#{gameGoodId}
    </select>
    <insert id="insertGood" parameterType="com.hzit.entity.GamegoodInfo">
        insert into gamegood(gamegoodname,gameid,gameserverid,rolename,GameTypeId,gamegoodsellcount,gamegoodcount,`describe`,sellername,unitprice)
                      values(#{gameGoodName},#{gameId},#{gameServerId},#{roleName},#{gameTypeId},#{gameGoodSellCount},#{gameGoodCount},#{describe},#{sellerName},#{unitPrice})
    </insert>
    <update id="updateGood" parameterType="com.hzit.entity.GamegoodInfo">
        update gamegood set gamesellcount=#{gameSellCount},gamegoodcount=#{gameGoodCount},`describe`=#{describe},unitprice=#{unitPrice}
        where gamegoodid=#{gameGoodId}
    </update>
    <delete id="deleteGood" parameterType="java.lang.Integer">
        delete from gamegood where gamegoodid = #{gameGoodId}
    </delete>


    <resultMap type="GamegoodInfo" id="gamegoodinfoMap">
        <id property="gamegoodid" column="gamegoodid" />
        <result property="gamegoodname" column="gamegoodname" />
        <result property="gameid" column="gameid" />
    </resultMap>

    <resultMap type="GamegoodInfo" id="gamegoodinfoOrderMap" extends="gamegoodinfoMap">
        <collection property="order" ofType="Order">
            <id property="Orderid" column="Orderid" />
            <result property="date" column="date" />
            <result property="price" column="price" />
        </collection>
    </resultMap>



</mapper>