<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper标签用于指定配置文件所属的接口名，通过namespace来指定 -->
<mapper namespace="com.hzit.dao.GameInfoDao">
    <!-- select表情专门指定查询方法，id属性代表方法名
    parameterType代表方法的参数数据类型
    resultType代表方法的返回的集合中的元素类型
     -->
    <select id="findGame"  resultType="com.hzit.entity.GameInfo">
        select *from gameinfo
    </select>
    <insert id="insertGame" parameterType="String" >
        insert into gameinfo(gamename,gamearea) values(#{0},#{1})
    </insert>
    <delete id="deleteGame" parameterType="int">
        DELETE from gameinfo where gameid=#{gameId}
    </delete>
</mapper>