<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzit.dao.OrderDao">
    <insert id="insert" parameterType="Order">
        INSERT INTO `order` VALUES(#{orderId},#{userId},#{date},#{price})
    </insert>
    <update id="update" parameterType="Order">
        UPDATE `order` SET UserId=#{userId},date=#{date},Price=#{price} where  orderId=#{orderId}
    </update>
    <delete id="delete"  parameterType="int">
        delete  FROM `order` WHERE orderId=#{orderId}
    </delete>
    <select id="selectall"  resultType="Order">
        SELECT * FROM `order`
    </select>
    <select id="selectbyid" parameterType="int" resultType="Order">
        SELECT * FROM `order` WHERE OrderId=#{orderId}
    </select>

    <resultMap type="Order" id="orderMap">
        <id property="orderId" column="orderId" />
        <result property="userId" column="userId" />
        <result property="date" column="date" />
        <result property="price" column="price" />
        <collection property="gamegoodinfo" ofType="Gamegoodinfo">
            <id property="gameGoodId" column="gameGoodId" />
            <result property="gameGoodName" column="gameGoodName" />
            <result property="gameId" column="gameId" />
            <result property="gameServerId" column="gameServerId" />
            <result property="roleName" column="roleName" />
            <result property="gameTypeId" column="gameTypeId" />
            <result property="gameGoodSellCount" column="gameGoodSellCount" />
            <result property="gameGoodCount" column="gameGoodCount" />
            <result property="describe" column="describe" />
            <result property="sellerName" column="sellerName" />
        </collection>
    </resultMap>
    <select id="selectgame"  parameterType="int"  resultMap="orderMap">
    select o.orderId,o.userId,o.date,o.price,
    g.gamegoodid,g.gamegoodname,g.gameid,g.gameserverid,g.rolename,g.gametypeid,g.gameGoodSellCount,g.gameGoodCount,
    g.describe,g.sellerName
     from  `order` o left join gamegoodorder ggo on  o.orderid=ggo.oid
    Left join  gamegood g on ggo.gid=g.gamegoodid WHERE orderId=#{orderId}

    </select>
</mapper>


