<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzit.dao.OrderDetailDao">
    <insert id="insert" parameterType="OrderDetail">
        INSERT INTO `orderdetail` VALUES(#{detailId},#{orderId},#{gamegoodId},#{prices},#{count},#{summoney})
    </insert>
    <update id="update" parameterType="OrderDetail">
        UPDATE `orderdetail` SET orderId=#{orderId},gamegoodId=#{gamegoodId},Prices=#{prices},`count`=#{count},summoney=#{summoney} where  orderId=#{orderId}
    </update>
    <delete id="delete"  parameterType="int">
        delete  FROM `orderdetail` WHERE orderId=#{orderId}
    </delete>
    <select id="findall"  resultType="OrderDetail">
        SELECT * FROM `orderdetail`
    </select>
    <select id="findbyid" parameterType="int" resultType="OrderDetail">
        SELECT * FROM `orderdetail` WHERE OrderId=#{orderId}
    </select>

    <resultMap type="Order" id="orderMap">
        <id property="orderId" column="orderId" />
        <result property="userId" column="userId" />
        <result property="date" column="date" />
        <result property="price" column="price" />
        <collection property="orderDetail" ofType="OrderDetail">
            <id property="detailId" column=" detailId" />
            <result property="orderId" column="orderId" />
            <result property="gamegoodId" column="gamegoodId" />
            <result property="prices" column="prices" />
            <result property="count" column="count" />
            <result property="summoney" column="summoney" />
        </collection>
    </resultMap>
    <select id="selectdetail"  parameterType="int"  resultMap="orderMap">
        select o.*,de.*

        from  `order` o, orderdetail de where  o.orderid=de.orderid and o.orderId=#{orderId}

    </select>
</mapper>


