<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzit.dao.OrderDao">
    <insert id="insert" parameterType="Order">
        INSERT INTO `order` VALUES(#{orderId},#{userId},#{date},#{price})
    </insert>
    <update id="update" parameterType="Order">
        UPDATE `order` SET UserId=#{userId},date=#{date},Price=#{price} where  orderId=#{orderId}
    </update>
    <delete id="delete"  parameterType="int">
        delete  FROM `order` WHERE orderId=#{orderId}
    </delete>
    <select id="selectall"  resultType="Order">
        SELECT * FROM `order`
    </select>
    <select id="selectbyid" parameterType="int" resultType="Order">
        SELECT * FROM `order` WHERE OrderId=#{orderId}
    </select>

    <!--<select id="OrdergoodMap"  resultMap="OrdergoodMap">
        select Order.*,Gamegood.gamegoodname,Gamegood.gameId,gamegoodorder.OrderId,Gamegoodorder.GameGoodid from Order,Gamegood,gamegoodorder where gamegoodorder.OrderId=Order.OrderId AND gamegoodorder.GameGoodid=gamegood.GameGoodid
    </select>
    <resultMap type="Order" id="OrdergoodMap">
        <id property="OrderId" column="OrderId"/>
        <result property="UserId" column="UserId"/>
        <result property="Date" column="Date"/>
        <result property="Price" column="Price"/>
        <association property="Gamegoodorder" javaType="Gamegoodorder">
            <id property="OrderId" column="OrdertId"/>
            <result property="GameGoodid" column="GameGoodid"/>
        </association>
        <collection property="GamegoodInfo" javaType="com.hzit.entity.GamegoodInfo">
            <id property="GameGoodid" column="GameGoodid"/>
            <result property="GameGoodname" column="GameGoodname"/>
            <result property="gameid" column="gameid"/>
        </collection>
    </resultMap>
-->

</mapper>


