<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzit.dao.OrderDao">
    <insert id="insert" parameterType="Order">
        INSERT INTO `order` VALUES(#{orderId},#{userId},#{date},#{price})
    </insert>
    <update id="update" parameterType="Order">
        UPDATE `order` SET UserId=#{userId},date=#{date},Price=#{price} where  orderId=#{orderId}
    </update>
    <delete id="delete"  parameterType="int">
        delete  FROM `order` WHERE orderId=#{orderId}
    </delete>
    <select id="selectall"  resultType="Order">
        SELECT * FROM `order`
    </select>
    <select id="selectbyid" parameterType="int" resultType="Order">
        SELECT * FROM `order` WHERE OrderId=#{orderId}
    </select>

    <resultMap type="Order" id="orderMap">
        <id property="orderId" column="orderId" />
        <result property="userId" column="userId" />
        <result property="date" column="date" />
        <result property="price" column="price" />
        <collection property="orderDetail" ofType="OrderDetail">
            <id property="detailId" column=" detailId" />
            <result property="orderId" column="orderId" />
            <result property="gamegoodId" column="gamegoodId" />
            <result property="price" column="price" />
            <result property="count" column="count" />
            <result property="summoney" column="summoney" />
        </collection>
    </resultMap>
    <select id="selectdetail"  parameterType="int"  resultMap="orderMap">
    select o.*,de.*
     from  `order` o, orderdetail de where  o.orderid=de.orderid and o.orderId=#{orderId}

    </select>
</mapper>


