<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzit.dao.ShoppingCartDao">
    <!-- 配置映射字段 -->
    <select id="findshoppingcart" parameterType="int" resultType="ShoppingCart">
        select * from ShoppingCart WHERE userId=#{userId}
    </select>
    <insert id="insertshoppingcart" parameterType="ShoppingCart" >
        INSERT INTO ShoppingCart VALUES (NULL ,#{userId},#{price},#{gameGoodId},#{num})
    </insert>
    <delete id="deleteshoppingcart" parameterType="int" >
        DELETE from ShoppingCart WHERE shopId=#{shopId}
    </delete>
    <select id="allmoney" parameterType="int" resultType="int" >
    SELECT SUM(price*num) from ShoppingCart WHERE userId=#{userId}
</select>
    <select id="banlanceBygameGoodId" parameterType="int" resultType="int" >
        SELECT SUM(price*num) from ShoppingCart WHERE userId=#{userId} and gamegoodId=#{gamegoodId}
    </select>
</mapper>
