<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <typeAliases>
        <typeAlias type="com.hzit.entity.Announcement" alias="Announcement"/>
        <typeAlias type="com.hzit.entity.UserInfo" alias="UserInfo" />
        <typeAlias type="com.hzit.entity.ShoppingCart" alias="ShoppingCart"/>
    </typeAliases>
    <environments default="development">
        <!-- >配置运行环境，环境编号为development< -->
        <environment id="development">
            <!-- >指定事务处理交给JDBC< -->
            <transactionManager type="JDBC" />
            <!-- >配置数据源< -->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com.hzit.mapper/AnnouncementDaoMapper.xml"></mapper>
        <mapper resource="com.hzit.mapper/UserinfoDaoMapper.xml"></mapper>
        <mapper resource="com.hzit.mapper/ShoppingCartDaoMapper.xml"></mapper>
    </mappers>
</configuration>